qwc-qgis-server:3.28.7:2.0.17
jasper-reporting-service:135:2.0.18
qwc-fulltext-search-service:latest-2024-lts:2.0.21
qwc-data-service:latest-2024-lts:2.0.24
sogis-dataproduct-service:v2024.2-lts:2.0.28
qwc-ogc-service:latest-2024-lts:2.0.27
qwc-legend-service:latest-2024-lts:2.0.22
qwc-feature-info-service:latest-2024-lts:2.0.30
qwc-mapinfo-service:latest-2024-lts:2.0.18
sogis-plotinfo-service:v2024.07.10:2.0.20
qwc-permalink-service:latest-2024-lts:2.0.18
qwc-elevation-service:latest-2024-lts:2.0.18
qwc-document-service:latest-2024-lts:2.0.21
qwc-print-service:latest-2024-lts:2.0.21
sogis-landreg-service:v2024.3-lts:2.0.18
sogis-ccc-config:latest-2024-lts:2.0.21
sogis-auth-service:v2024.1-lts:2.0.26
sogis-mysochauth-service:v2024.06.19:2.0.0
sogis-map-viewer:v2024.18-lts:2.0.56
