qwc-qgis-server:2.0.13:2.0.13
jasper-reporting-service:0.6.0:2.0.16
qwc-fulltext-search-service:latest:2.0.17
qwc-data-service:latest:2.0.16
sogis-dataproduct-service:latest:2.0.16
qwc-ogc-service:latest:2.0.16
qwc-legend-service:latest:2.0.16
qwc-feature-info-service:latest:2.0.16
qwc-mapinfo-service:latest:2.0.16
sogis-plotinfo-service:latest:2.0.16
qwc-permalink-service:latest:2.0.16
qwc-elevation-service:latest:2.0.16
qwc-document-service:latest:2.0.16
qwc-print-service:latest:2.0.16
sogis-landreg-service:latest:2.0.16
sogis-ccc-config:latest:2.0.16
sogis-auth-service:latest:2.0.16
sogis-map-viewer:latest:2.0.16
sogis-agdi:v3.0.0-rc1:2.0.16
sogis-config-generator:v3.0.0-rc1:2.0.16
